img {
    display: block;
    cursor: pointer;
}

.container {
    margin: auto;
    width: 100%;
    max-width:540;
}

.container .selected {
    width: 500px;
    height: 400px;
    margin-top: 20px;
    /* border: 4px solid #ccc; */
}

.container .imgContainer {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding: 20px 0 0 0;
}

.container .imgContainer img {
    width: 100px;
    height: 100px;
    margin: 0 0 0 15px;
    /* border: 4px solid #ccc; */

}